--- 
import FooterComponent from '../components/Footer.astro';
import FaviconSetup from '../components/FaviconSetup.astro';
import Analytics from '../components/Analytics.astro';

const { metaData } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Analytics />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<FaviconSetup />
		<title>{metaData.title}</title>
		{Object.keys(metaData).map((key) => {
			if (key === 'title') return;
			return <meta name={key} content={metaData[key]} />;
		})}
	</head>
	<body>
		<slot />
		<FooterComponent />
		<script>
			gtag('event', 'page_view', {
				page_location: location.href,
				page_path: location.pathname,
				page_title: document.title,
			});
		</script>
	</body>
</html>
